.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid #222;
    padding: 10px 20px;
}

.span-logo{
    color: orange;
}
.header-links,.header-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.header-links a{
    color: #222;
    text-decoration: none;
    transition: color .4s ease-in-out;
}
.header-links a:hover{
    color: orange;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: orange;
}
.header-btns a{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
    border: 1px solid #222;
    background: white;
    color: #222;
    transition: background .4s ease-in-out,
    color .4s ease-in,
    border .4s ease-in-out;
}
.header-btns a:hover{
    color: white;
    background: orange;
    border: 1px solid white;
}
.cart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart span{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
    color: #222;
    text-align: center;
}
.cart svg{
    font-size: 30px;
}